#about{
    background: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%); 
  padding:  1rem; 
 
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.about-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap:1rem;
}

#services{
    background: linear-gradient(135deg, #f2f5f9 0%, #97b4e3 100%); 
  padding:  1.5rem;
  -webkit-box-shadow: 10px 10px 30px -3px rgba(0,0,0,0.75);
-moz-box-shadow: 10px 10px 30px -3px rgba(0,0,0,0.75);
box-shadow: 10px 10px 30px -3px rgba(0,0,0,0.75);
margin-top: 1rem;
border-radius: 1rem;
}
@media screen and (max-width: 50.5em) {
    .about-container{
       
        flex-direction: column;
    }
    
}


